@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap");

main {
  font-family: sans-serif;

  background: linear-gradient(160deg, #52348d, #372360, #23153f, #1f0f3b);

  background-size: 300% 300%;

  animation: gradiente 8s ease infinite;
  height: 92vh;
}

.flexbox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.imersao {
  align-self: center;
  background-color: #37255d;
  font-family: Syne;
  font-size: 15px;
  color: #99a6dd;
  letter-spacing: 3px;
  padding: 6px 16px;
  border: 1px solid rgba(106, 122, 181, 0.25);
  border-radius: 100px;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  padding: 40px;
}

.central h1 {
  font-family: Syne;
  font-size: 80px;
  font-weight: 800;
  color: #ede8c0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.central h2 {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 10px;
  color: #a1adcf;
  margin-bottom: 20px;
}

.central span {
  font-size: 18px;
  font-weight: 500;
  color: #a1adcf;
}

.central button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #5b439a;

  cursor: pointer;

  border: none;
  border-radius: 12px;
  height: 50px;
  width: 150px;

  margin-top: 50px;

  transition: 0.3s;
}

.central button:hover {
  background-color: #b2ccf1;
  color: rgb(32, 15, 60);
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
