@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(106, 122, 181, 0.25);
    position: relative;
    z-index: 1;
}

.links {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.navegate a{
    text-decoration: none;
    color: #6b7ab5;
    font-size: 18px;
    font-weight: 400;
}

.navegate a:hover{
    color: #4f5c91;
}

.logo {
    display: flex;
    justify-content: left;
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
}
