@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap");

header {
  background-color: #2e1e4d;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 70px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(106, 122, 181, 0.25);
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: left;
  font-family: Syne;
  font-size: 35px;
  font-weight: 700;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #a1adcf;
  cursor: pointer;
}

.navegate {
  font-size: 18px;
  font-weight: 600;
  color: #9ca7c9;
  transition: 0.3s;
}

.navegate:hover {
  color: #ede8c0;
}

.actions button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ede8c0;

  background: #5b439a;
  border: none;
  border-radius: 50px;

  cursor: pointer;

  height: 40px;

  transition: 0.3s;

  display: inline-block;

  margin-left: 15px;
}

.actions button:hover {
  background-color: #b2ccf1;
  color: rgb(32, 15, 60);
}

.signin {
  height: 40px;
  width: 150px;
}

.themes {
  height: 40px;
  width: 40px;
}
